// Caso esse reset já exista globalmente no projeto, 
// remova esse primeiro bloco de código.
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  inset: 0;
  background-color: #00000040;

  &__card {
    padding: 0.75rem;
    margin: 1rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: white;
  }
}
