// Caso esse reset já exista globalmente no projeto,
// remova esse primeiro bloco de código.
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.password-input {
  position: relative;

  input {
    padding: 0.25rem;
    padding-right: 1.5rem;
    border-radius: 0.25rem;
    width: 100%;

    transition: border-color 0.25s;

    &:focus {
      outline-color: blue;
    }

    &.ng-touched.ng-invalid {
      border-color: red;
    }
  }

  app-icon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
